@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: Charter, Georgia, Times, serif;
  line-height: 1.6;
  font-size: 17px;
  letter-spacing: 0.018rem;
}

body {
  padding: 0;
  margin: 0;
  background-color: white;
  color: #111827;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #111827;
    color: #f9fafb;
  }
}

* {
  box-sizing: border-box;
}

a {
  color: #000000;
  text-decoration: none;
  border-bottom: 1.8px solid #c1c1c1;
}

a:hover {
  color: #fa3546;
  border-bottom-color: #fa3546;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  a {
    color: #ffffff;
    border-bottom-color: #6b7280;
  }

  a:hover {
    color: #fca5a5;
    border-bottom-color: #fca5a5;
  }
}

img {
  max-width: 100%;
  display: block;
}

.prose img {
  margin: 1.5rem auto;
  border-radius: 8px;
}

/* Ensure monospace font for tags */
.font-mono {
  font-family: ui-monospace, SFMono-Regular, "SF Mono", Monaco, Inconsolata, "Roboto Mono", "Noto Sans Mono",
    "Ubuntu Mono", monospace;
}
